<div>
    <div class='main'>
      <h3>Write a review for Taco Bell</h3>
      <div class='displ'>
        <form (submit)="createReview()">
          <p class=''> Your Name: <input type='text' name="newReview.user" [(ngModel)]="newReview.user"></p>
          <p class=''> Stars: 
            <select name="newReview.cars" [(ngModel)]="newReview.stars">
              <option value="1">1 Stars</option>
              <option value="2">2 Stars</option>
              <option value="3">3 Stars</option>
              <option value="4">4 Stars</option>
              <option value="5">5 Stars</option>
            </select>
          </p>
          <p class=''> Your Review: </p>
          <p><input type='text' name="newReview.desc" [(ngModel)]="newReview.desc"></p>
          <input type='submit' class='btn inline' [routerLink]="['/home']" value='Cancel' />
          <input type='submit' class='btn inline' value='Submit' />
        </form> 
      </div>
    </div>
  </div>